/* ------------------ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.grid-container p {
  background-color: lightblue;
}

.grid-container h2 {
  grid-column: 1 / -1;
  text-align: center;
}

.grid-container p {
  grid-column: span 2;
}

.grid-container p:nth-of-type(4),
.grid-container p:nth-of-type(5) {
  grid-column: span 3;
}

/* ---------------- */

header {
  display: grid;
  grid-template-columns: auto max-content;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
